.imagen-logo{
    margin: center;
    margin-left:30%;
}
.h2-mail{
    margin: center;
    margin-left:30%;
}
.h2-clave{
    margin: center;
    margin-left:30%;
}
.input-mail{
    margin: center;
    margin-left:30%;
}
.input-clave{
    margin: center;
    margin-left:30%;
}