.imagen-logo{
    margin: center;
    margin-left:30%;
}
.h2{
    margin: center;
    margin-left:30%;
}

.input{
    margin: center;
    margin-left:30%;
}
.boton-enviar__registro{
    margin: 50px;
    margin-left: 20%;
    padding-top: 10px;
    width: 200px;
    height: 70px;
    background-color: #252524;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    border-style:solid;
    color: aliceblue;

    font-style: italic;
}